.autoCompleteRow{
    display: flex;
    min-width: 200px;
}
.projectTray{
    display: flex;
    background-color: red;
}
.ColorPicker-MuiButton-label,
.ColorPicker-MuiButton-label div {
  height: 70px !important;
  width: 70px !important;
  border-radius: 70px!important;
  display: inline-block;
}

.MuiBox-root.css-1{
    position: relative;
    left:85px;
    top:-10px;
}
.tabPanel{
    height: calc( 100vh - 200px);
    overflow: auto;
}
