.grid {

    margin: 0;
  
}
.innerGrid {
    background-image:
      repeating-linear-gradient(rgb(85, 85, 85) 0 1px, transparent 1px 25%),
      repeating-linear-gradient(90deg, rgb(85, 85, 85) 0 1px, transparent 1px 25%);
      height: calc(100vh - 250px);
      width: 120vw;
    background-size: 71px 71px;
}