a{
    text-decoration: none;
}
.row{
    display: flex;
    vertical-align: middle;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration:wavy;
    color:white;
}
.listItem{
    position: relative;
}
.removeButton{
    display: inline-block;
    position: absolute;
    top:0px;
    right:0px;
}
.row.selectedRow{
    background-color: rgb(254, 0, 76);
}
.row .wasteBasket{
    display: none;
    position: absolute;
    right:0px;
}
.row:hover{
    border-left: 4px solid rgb(254, 0, 76);
}
.row:hover .wasteBasket{
display: inline-block;
}
.row > *{
    display: flex;
}
.row a{
    color:white;
    text-decoration: none;
}
.row .avatar{
    margin-right: 13px;
    position:relative;
    left:6px;
    
}
.selectedRow{
    background-color: tomato;
}
.draggableRemove{
    color:white;
    position: relative;
  
}
.showAvatar  .draggableRemove{
  
}
.edgeWeight{
    width:45px;
    min-width: 45px;
    max-width: 45px;
    position: relative;
    left:0px;
    display: inline-block;
}