.row{
    display: flex;
    vertical-align: middle;

    margin:10px;
    padding-top:4px;
    overflow-x: hidden;
    overflow-y: hidden;

}
.row.showAvatar{
    line-height: 40px;
    height:46px;

}
.row > *{
    display: flex;
}
.row a{
    color:white;
    text-decoration: none;
}
.avatar{
    margin-right: 13px;
    position:relative;
    left:6px;
    
}
.draggableRemove{
    color:white;
    position: relative;
    top:0px;
}
.showAvatar  .draggableRemove{
    top:10px;
}
.edgeWeight{
    width:45px;
    min-width: 45px;
    max-width: 45px;
    position: relative;
    left:0px;
    display: inline-block;
}