.row{
    display: flex;
    vertical-align: middle;
    padding-top:4px;
    overflow-x: hidden;
    overflow-y: hidden;

}
.row > *{
    display: flex;
}
.row a{
    color:white;
    text-decoration: none;
}
.row .avatar{
    margin-right: 13px;
    position:relative;
    left:6px;
    
}
.selectedRow{
    background-color: tomato;
}
.draggableRemove{
    color:white;
    position: relative;
  
}
.showAvatar  .draggableRemove{
  
}
.edgeWeight{
    width:45px;
    min-width: 45px;
    max-width: 45px;
    position: relative;
    left:0px;
    display: inline-block;
}