.projectTray{
  padding:5px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(100vw - 100px);
}
.root{
  padding:15px;
  min-height: 100px;
  min-width:200px;
  background:green;
  margin:5px;

}
.projectTray a {
  text-decoration: none;
}

.projectTray a div {
  color:black;
}