.projectTray{

width: 100vw;
height: 100vh;
  overflow-y: scroll;
}
.root{

  color: white;

}
.projectTray a {
  text-decoration: none;
}

.projectTray a div {
  color:black;
}

.projectcard:hover .folderName{
  background-color: rgb(254, 0, 76);

}

.folderName{
  width: calc(100% - 70px);
  padding:5px;

  margin:5px;
  color:white;
  background:rgb(78, 76, 76);
  border-radius: 3px;
  display: inline-block;
}
.folderTools{
  width:45px;
  display: inline-block;
}