.projectTray{
  padding:5px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: calc(100vw - 100px);
}
.root{
  padding:15px;
  min-height: 50px;
  min-width:200px;
  margin:5px;
  color:white;
  background:rgb(78, 76, 76);
  border-radius: 3px;

}
.projectTray a {
  text-decoration: none;
}

.projectTray a div {
  color:black;
}

.projectCard{


}

.pink{
  background:rgb(242, 0, 137);
}