.autoCompleteRow{
    display: flex;
    min-width: 200px;
}

.readOnlyListTab{
    margin-left:25px;
}

.MuiBox-root.css-1{
    position: relative;
    left:85px;
    top:-10px;
}
.tabPanel{
    height: calc( 100vh - 200px);
    overflow: auto;
}
.subtitle{
    color:white;
}
