.rootLinkSpace{
    margin:10px;
}
.subjectBox{


    padding:10px;

}
.targetBox{

    padding:10px;

}
.relationshipBox{
    padding:10px;
    margin-left:10px;
    margin-right:10px;
   color:white;
 
    font-weight: bold;
    font-size: 30px;
}
.title, .delete{
    color:white;
}