.subjectBox{

    background:rgb(62, 112, 78);
    border-radius:10px;
    padding:10px;
    margin:10px;
}
.targetBox{
    background:rgb(131, 84, 75);
    border-radius:10px;
    padding:10px;
    margin:10px;
}
.relationshipBox{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 30px;
}