.simpleListRow{
    display: flex;
    vertical-align: middle;

    margin:4px;
    overflow-x: hidden;
    overflow-y: hidden;

}
.simpleListRow.showAvatar{
    height:50px;
    line-height: 40px;
}
.simpleListRow > *{
    display: flex;
}

.simpleListRow > * {
    text-decoration: none;
    color:white;
    font-weight: normal;
}
.simpleListAvatar{
    margin-right: 0px;

}
.value{
    display: inline-block;
    margin-left:20px;
}
.simpleListXAction{
    position: relative;
    left:0px;
}
.showAvatar .simpleListXAction{
    top:10px;
}