.simpleListRow{
    display: flex;
    vertical-align: middle;
    line-height: 40px;
    margin:4px;
    overflow-x: hidden;
    overflow-y: hidden;
    height:50px;
}
.simpleListRow > *{
    display: flex;
}

.simpleListRow > * {
    text-decoration: none;
    color:white;
    font-weight: normal;
}
.simpleListAvatar{
    margin-right: 10px;

}
.simpleListXAction{
    position: relative;
    top:10px;
    left:10px;
}