
.ActorList{
  /* background-color: #1b1818; */

}
.content{
    overflow-y: auto;
    overflow-x:hidden;
  }
  .controls{
      margin:4px;
  }
  .listSearch{
      width:calc(100% - 40px);
      
  }
  .listSearch > * {
    color:white!important;
    padding-left:5px;
  }