.autoCompleteRow {
  display: flex;
}


.threadspaceHeader {
  display: flex;
  vertical-align: bottom;
  line-height: 35px;
  color: white;
  position: relative;
  top: 10px;
  left: 50px;
}
.threadspaceHeader .colorPicker {
  position: relative;
  right: 22px;
}

.threadspace .delete {
  color: white;
  position: relative;

}

.rootThreadDiv {
  height: calc(100% - 10px);
  padding:10px;
  padding-top: 0px;
}
