.autoCompleteRow{
    display: flex;
    min-width: 200px;
}


.ColorPicker-MuiButton-label,
.ColorPicker-MuiButton-label div {
  height: 70px !important;
  width: 70px !important;
  border-radius: 70px!important;
  display: inline-block;
}

.MuiBox-root.css-1{
    position: relative;
    left:85px;
    top:-10px;
}
#simple-tabpanel-0{
    max-height: calc( 100vh - 200px);
    overflow: auto;
    padding:0px;
}
#simple-tabpanel-1 div{
    padding-left:0px;
    padding-right:0px;
}
.threadspaceHeader{
    display: flex;
    vertical-align: bottom;
    line-height: 35px;
    color:white;
    position: relative;
    top:10px;
    left:50px;
}
.threadspaceHeader .colorPicker {
    position: relative;
    right:22px;
}
.threadspaceHeader .title{
}

.threadspace .delete {
    color:white;
    position: relative;
    top:10px; 
    left:12px;  

}

.rootThreadDiv{
    height: 100%;
}