.avatarWrapper{
    position: relative;
}
.avatar {
  position: relative;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
  color: rgb(255, 255, 255);
  background-color:none;
  border-radius: 100px;
  font-size: 30px;
}
.avatarImage{
    position: absolute!important;
    height: 30px!important;
    width: 30px!important;
    top:10px!important;
    background-color: transparent!important;
    left:10px!important;
}
.avatarWrapper.small .avatar{
    position: relative;
    top:0px;
    height: 20px;
    width: 20px;
}