

@keyframes wiggle {
    0% { transform: rotate(-0deg); }
   80% { transform: rotate(-0deg); }
   85% { transform: rotate(15deg) translate(-10px,0px); }
   95% { transform: rotate(-15deg)translate(10px,0px);  }
  100% { transform: rotate(-0deg); }
}

.contentBlock{
  border-radius: 2px;
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
  overflow-x: hidden;
}
.unsaved{
    color:white;
    position:absolute;
    display: inline-block;
    top:10px;
 right:15px;
    font-size: 30px;
    animation: wiggle 2.5s infinite; 
    background:rgb(184, 35, 35);
    padding:10px;
    border-radius: 100px;
    cursor: pointer;
}




.unsaved:hover {
  animation: none;
  transform: rotate(0deg) scale(110%); 
}

.editingBlockBanner{
    color:transparent;
    position:absolute;
    font-size: 10px;
    top:-1px;
    left:0px;
    


}
.contentBlock:hover .editingBlockBanner{
  color:white;
  background-color: teal;

}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}