@keyframes wiggle {
  0% {
    transform: rotate(-0deg);
  }
  80% {
    transform: rotate(-0deg);
  }
  85% {
    transform: rotate(15deg) translate(-10px, 0px);
  }
  95% {
    transform: rotate(-15deg) translate(10px, 0px);
  }
  100% {
    transform: rotate(-0deg);
  }
}

.contentBlock {
  border-radius: 2px;
  position: relative;
  overflow-x: hidden;
}
.unsaved {
  color: white;
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 15px;
  font-size: 30px;
  animation: wiggle 2.5s infinite;
  background: rgb(184, 35, 35);
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}

.unsaved:hover {
  animation: none;
  transform: rotate(0deg) scale(110%);
}

.editingBlockBanner {
  color: transparent;
  position: absolute;
  font-size: 10px;
  top: 0px;
  left: 10px;

  color: white;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}

.page {
  max-height: none;
  padding: 10px;
  padding-right:0px;
  overflow-y: scroll;
  text-align: justify;
  margin: 10px;
  margin-right:0px;
  border-radius: 2px;
  background-color: rgb(56, 53, 57);
}
