@keyframes wiggle {
  0% {
    transform: rotate(-0deg);
  }
  80% {
    transform: rotate(-0deg);
  }
  85% {
    transform: rotate(15deg) translate(-10px, 0px);
  }
  95% {
    transform: rotate(-15deg) translate(10px, 0px);
  }
  100% {
    transform: rotate(-0deg);
  }
}

.contentBlock {
  border-radius: 2px;
  position: relative;
  overflow-x: hidden;
  z-index: 100;
}
.unsaved {
  color: white;
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  z-index: -1;
  display: inline-block;
  top: 0px;
  right: 0px;
  font-size: 15px;
  height: 100vh;
  width: 100vw; 

  cursor: pointer;
}


.editingBlockBanner {
  color: transparent;
  position: absolute;
  font-size: 10px;
  top: 0px;
  left: 10px;

  color: white;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
  caret-color: orange;
}

.intellisense{
  position: fixed;
  right:0px;
  top:0px;
  background:black;
  border: 5px solid white;
  z-index: 100;
  padding: 100px;
}

.page {
  max-height: none;
  padding: 10px;
  padding-right:0px;
  overflow-y: scroll;
  text-align: justify;
  margin: 10px;
  margin-right:0px;
  border-radius: 2px;
  background-color: rgb(56, 53, 57);
}
